<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <h2>Welcome to <%= name  %></h2>
    <ul>
        <li><a href="http://localhost:4000/roomdetail">羿寧</a></li>
        <li><a href="http://localhost:4000/orders">冠霆</a></li>
        <li><a href="http://localhost:4000/members">亭勻</a></li>
        <li><a href="http://localhost:4000/animal-touch">囿辰</a></li>
        <li><a href="http://localhost:4000/game">少康</a></li>
        <li><a href="http://localhost:4000/tour">彥睿</a></li>
        <li><a href="http://localhost:4000/products">教欽</a></li>
    </ul>
</div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>
